<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="PMId" [value]="service.formData.PMId" />
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fal fa-user" [class.green-icon]="CartOwnerName.valid" [class.red-icon]="CartOwnerName.invalid && CartOwnerName.touched"></i>
        </div>
      </div>
      <input required name="CartOwnerName" #CartOwnerName="ngModel" [(ngModel)]="service.formData.CartOwnerName" class="form-control" placeholder="Card Owner Name" />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fal fa-user" [class.green-icon]="CardNumber.valid" [class.red-icon]="CardNumber.invalid && CardNumber.touched"></i>
        </div>
      </div>
      <input required maxlength="16" minLength="16" name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.formData.CardNumber" class="form-control" placeholder="16 Digit Card Number" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fal fa-user" [class.green-icon]="ExpirationDate.valid" [class.red-icon]="ExpirationDate.invalid && ExpirationDate.touched"></i>
          </div>
        </div>
        <input required maxlength="5" minLength="5" name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="service.formData.ExpirationDate" class="form-control" placeholder="MM/YY" />
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fal fa-user" [class.green-icon]="CVV.valid" [class.red-icon]="CVV.invalid && CVV.touched"></i>
          </div>
        </div>
        <input required maxlength="3" minLength="3" type="password" name="CVV" #CVV="ngModel" [(ngModel)]="service.formData.CVV" class="form-control" placeholder="CVV" />
      </div>
    </div>

  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
  </div>

</form>
